name: Build Docker image
on:
  push:
    branches:
      - feat/image-tag-updates

jobs:
  docker:
    name: Push to GitHub Container Registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up JDK
        uses: "actions/setup-java@v4"
        with:
          distribution: 'temurin'
          java-version: 23

      - name: Checkout
        uses: "actions/checkout@v4"

      - name: "Login to ghcr.io"
        uses: "docker/login-action@v3"
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Publish Docker Image
        run: mvn package jib:build
